{% load static %}

<nav>
    <div class="nav-wrapper teal darken-2">
        <a href="{% url 'index' %}" class="brand-logo" style="padding-left: 15px;">
            <img src="{% static 'images/gatito.png' %}" alt="Gatito" style="height: 32px; width: 32px; margin-right: 10px; border-radius: 4px;">
            Catblog: Mi Blog Personal
        </a>

        <ul id="nav-mobile" class="right hide-on-med-and-down" style="padding-right: 15px;">
            {% if user.is_authenticated %}
                <li>
                    <form method="POST">
                        <span>Bienvenido, {{ user.first_name }} {{ user.last_name }} ({{ user.username }})</span>
                        {% csrf_token %}
                        <input type="hidden" name="action" value="logout" />
                        <button type="submit" class="waves-effect waves-light btn-small">Salir</button>
                    </form>
                </li>
            {% else %}
                <li>
                    <form method="POST" style="margin:0; display: flex; align-items: center;">
                        <input type="hidden" name="action" value="login" />
                        {% csrf_token %}
                        <div class="input-field" style="margin:0 5px 0 0;">
                            <input id="username" type="text" name="username" placeholder="Usuario" required style="height: 2rem; width: 120px;" />
                        </div>
                        <div class="input-field" style="margin:0 5px;">
                            <input id="password" type="password" name="password" placeholder="Contraseña" required style="height: 2rem; width: 120px;" />
                        </div>
                        <button type="submit" class="waves-effect waves-light btn-small" style="height: 2.3rem; line-height: 2.3rem;">Ingresar</button>
                    </form>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>